.check::part(container) {
    --border-color-checked: black;
    --check-mark-color: blue;
    --checkbox-background-checked: green;
}
.delete-button {
    --background: red;
    --color: white;
    margin-left: 20px;
}

.h-70vh{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}